// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bg {
  background: url('/assets/moviefrontblack.jpg');
  background-size: cover;
  width: 60%;
  height: 420px; /*same height as jumbotron */
  position:inherit;
  z-index: -1;
  border-radius: 3%
}

// .jumbotron-fluid {
//   margin-bottom: 0px;
//   height: 500px;
//   color: white;
//   font-family: 'Press Start 2P', courier;
//   font-weight: bolder;
//   background:transparent;
//   text-align: center;
//
// }

.glyphicon {
  float:right;
}
