// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bg {
  background: url('/assets/moviefrontblack.jpg');
  background-size: 10%;
  background-position: center;
  width: 100%;
  height: 220px; /*same height as jumbotron */
  z-index: -1;

}

.jumbotron-fluid {
  margin-bottom: 0px;
  height: 200px;
  color: white;
  font-family: 'Press Start 2P', courier;
  font-weight: bolder;
  background:transparent;
  text-align: center;

}

.glyphicon {
  float:right;
}

.search-bar {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: right;

}

.card {
  width: 200px;
  height: 600px;
}

.card-block {
  margin-left:30px;
  margin-bottom:40px;

}

.posters {
  height: 300px;
  width: 200px;
  margin-top: 200px;
}

.card-title {
  height: 50px;
}


.list {
  display: inline-table;
  text-align: center;
  list-style-type: none;
}

.panel {
  padding-left: -100px;
  padding-right: -100px;
}

.btn {
  margin-bottom: 50px;
}
