<!-- views/reviews/index.html.erb -->
<div class= "container">
<h1> All Reviews </h1>

<% @review_all.each do |review| %>

  <h5>"<%=review.subject %>"<br></h5>
  <i>"<%=review.content %>"</i>
<% end %>
</div>
